---
import AnimatedBottomBorderLink from "./AnimatedBottomBorderLink.tsx"
import ExcelIcon from "../icons/Excel.tsx"
import WordIcon from "../icons/Word.tsx"

const projects = [
    {
        title: "Monthly Salary Slip",
        link: 'https://1drv.ms/x/s!AsGTushMwa-Xm3ptxl88pSEGDCYK?e=ls1qKE',
        description: "Monthly employee salary slip",
        icon: 'excel',
        languages: ["Excel"],
    },
    {
        title: "Data input form",
        link: 'https://1drv.ms/x/s!AsGTushMwa-Xm34Uw_G_y_6WqJXY?e=QgQoNI',
        description: "Data entry form educational institution",
        icon: 'excel',
        languages: ["Excel"],
    },
    {
        title: "Workbooks",
        link: "https://1drv.ms/b/s!AsGTushMwa-Xmnl66fKFaRT1tSLO",
        description: "Urdu workbooks for grade 6",
        icon: 'word',
        languages: ["Word"],
    },
]
---

<div class="m-4 flex flex-col gap-8 lg:flex-row lg:gap-6">
    {
        projects.map((it) => (
            <article
                class="flex h-56 w-96 max-w-sm flex-col items-center gap-5 px-5 shadow-lg transition
            duration-200 ease-in-out hover:-translate-y-3 dark:shadow-xl"
            >
                <h3 class="pt-4 text-xl font-bold">{it.title}</h3>

                <p class="mb-auto text-center">{it.description}</p>

                <div class="flex flex-col items-center gap-5 pb-2">
                    <section class="flex gap-4">
                        {it.languages.map((lang) => (
                            <span class="text-sm">{lang}</span>
                        ))}
                    </section>

                    <AnimatedBottomBorderLink
                        href={it.link}
                        target="_blank"
                        ariaLabel={`${it.title} on GitHub`}
                    >
                        {it.icon === 'excel' ? <ExcelIcon /> : <WordIcon />}
                    </AnimatedBottomBorderLink>
                </div>
            </article>
        ))
    }
</div>
